*__pycache__
*bot.db
token.txt
*token.txt
./data/token.txt
.data/
.idea/.gitignore
.idea/dataSources.xml
.idea/dataSources/
.idea/discord.xml
.idea/emojis-r.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/sqldialects.xml
.idea/vcs.xml
